.root {
  padding: 1em;
  background: #0F5738;
  color: #fff;
  display: flex;
  justify-content: center;
}

.content {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: .5em;
}

  .link:hover {
    background: #277554;
  }

  .link.active {
    background: #499273;
  }

.userTools {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 1em;
}
