.form {
  margin-top: .5em;
  width: 13em;
}

.row {
  display: flex;
  justify-content: space-between;

  & + .row {
    margin-top: .5em;
  }
}

.field {
  flex-grow: 1;
  flex-shrink: 1;

  & + .field {
    margin-left: .5em;
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
  text-indent: .5em;
  line-height: 2em;
}
